.example-container {
    // width: 200px;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
}

.example-sidenav {
    padding: 20px;
    max-height: 92%;
    // border: 1px solid black;
    // background: #b7aed7;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 200px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(193, 190, 190);
}

.example-sidenav button {
    width: 150px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 7px;
    border: none;
    display: flex;
    padding: 7px;
    align-items: center;
    gap: 1rem;

    &:hover {
        cursor: pointer;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(2, 2, 82) 35%, rgb(16, 3, 73) 100%);
    }
}

.example-sidenav mat-icon {
    color: white;
    font-size: 1.3rem;
    height: 1.3rem;
    width: 1.3rem;
}

.example-sidenav span {
    color: white;
}

.upper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidenav-button {
    position: absolute;
    top: 1rem;
    left: -0.2rem;
    z-index: 1000;
}

.sidenav-button button {
    font-size: 10px;
    height: 23px;
    width: 23px;
    border-radius: 3px;
    box-shadow: none;
}

mat-sidenav-content .main-content {
    padding-left: 1rem;
    height: calc(100% - 4rem);
    overflow: auto;

}