.login-button {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;

    &:hover {
        cursor: pointer;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(2, 2, 82) 35%, rgb(16, 3, 73) 100%);
        transform: scale(1.1);
    }
}

.login-page{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
}

@media screen and (max-width: 600px) {
    .login-page{
        flex-direction: column;
    }
}


.logo{
    box-sizing: border-box;
    width: 150px;
    color: rgb(229, 16, 38);
    &:hover{
        color: rgb(122, 11, 43);
        cursor: pointer;
        transform: scale(1.1);
    }
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
    width: 40%;
}

.left-side h1{
    font-size: 40px;
}

.left-side span{
    color: rgb(65, 55, 246);
}

.right-side img{
    width: 500px;
}


// #container-div{
//   display: none;
// }