<div class="login-page">
<div class="left-side">
    <h2 class="logo">Omni Centre</h2>
    <h1>World’s most <span>innovative customer engagement platform</span> for <span>Amazon Connect.</span></h1>
    <div class="login-placement">
        <button class="login-button" (click)="Login()">Login</button>
    </div>
</div>
<div id="container-div" #ccpContainer style="width: 400px; height: 600px;"></div>
<div class="right-side">
    <img src="https://omni-dev.omningage.click/assets/login_screen.svg" alt="Omni_Centre.jpg">
</div>

</div>