<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #drawer class="example-sidenav" mode="side">
        <div class="upper">
            <button mat-menu-item>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
        </div>
        <div class="lower">
            <button mat-menu-item>
                <mat-icon>feedback</mat-icon>
                <span>Feedback</span>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
    <div class="sidenav-button">
        <button type="button" mat-mini-fab (click)="drawer.toggle()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="main-content">
        <h2>hello everyone</h2>
    </div>
    </mat-sidenav-content>

</mat-sidenav-container>