
<form [formGroup]="registorForm" (ngSubmit)="onSubmit()" class="register-form">
    <h2>Register Form</h2>
    <label for="firstName"></label>
    <input type="text" id="firstName" placeholder="Enter First Name" formControlName = "firstName">
    <div class="error" *ngIf="f['firstName'].invalid && f['firstName'].touched">
        <small *ngIf="f['firstName'].errors?.['required']">First Name is required</small>
        <small *ngIf="f['firstName'].errors?.['minlength']">First Name should have minimum length of 4</small>
    </div>

    <label for="lastName"></label>
    <input type="text" id="lastName" placeholder="Enter Last Name" formControlName = "lastName">

    <label for="userName"></label>
    <input type="text" id="userName" placeholder="Enter user name" formControlName = "userName">
    <div class="error" *ngIf="f['userName'].invalid && f['userName'].touched">
        <small *ngIf="f['userName'].errors?.['required']">User Name is required</small>
        <small *ngIf="f['userName'].errors?.['minlength']">user name should have minimum length of 6</small>
    </div>

    <label for="password"></label>
    <input type="text" id="password" placeholder="Enter password" formControlName = "password"> 
    <div class="error" *ngIf="f['password'].invalid && f['password'].touched">
        <small *ngIf="f['password'].errors?.['required']">password is required</small>
        <small *ngIf="f['password'].errors?.['minlength']">password should have minimum length of 4</small>
        <small *ngIf="f['password'].errors?.['maxlength']">password should have maximum length of 8</small>
    </div>

    <button type="submit" [disabled]="registorForm.invalid">Submit</button>
</form>