/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.my-menu-panel {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 3px;
    // padding: 0 1rem;
    position: absolute !important;
    // right: 10px;
    // width: 150px;
}

.my-menu-panel .mat-mdc-menu-item {
    color: white;
    font-size: 10px;
}

.my-menu-panel .mat-mdc-menu-item mat-icon {
    color: white;
}

.my-menu-panel .mat-mdc-menu-item:hover {
    background-color: #333;
}

.my-menu-panel .mat-mdc-menu-panel {
    background-color: unset;
    box-shadow: none;
    overflow: hidden;
}