h2{
    text-align: center;
    margin: 2rem;
}

h3{
    text-align: center;
    width: 45%;
    margin: 2rem auto;
}


.login-button {
    margin: 0.5rem;
    padding: 4px;
    border-radius: 6px;
    color: white;
    background-color: #0d6370;
    border: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}