<div class="topbar">
    <h2 class="title">Project Board</h2>
    @if(this.role() !== 'MEMBER'){
    <button class="add-btn" (click)="addProject()">
        + Add Project
    </button>
    }
</div>


<div class="projects">

    @if (Project.length === 0) {
    <p>No projects available.</p>
    }

    @for (p of Project; track p.id) {
    <div class="project-card">

        <div class="leftside">
            <h3>{{ p.name }}</h3>

            <p class="description">
                <!-- {{ p.description || 'No description provided' }} -->
                {{ p.description || 'No description provided' | slice:0:40 }}{{ p.description?.length > 120 ? '...' : ''
                }}
            </p>

            <p>
                <strong>Status:</strong>
                {{ p.status }}
            </p>
        </div>
        <div class="rightside" align="end">
            @if(this.role() !== 'MEMBER'){
            <button class="edit-button" (click)="editProject(p)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            }@else {
            <button class="start-working" (click)="StartWork()">
                <mat-icon>work</mat-icon>
                <span>Let's Work</span>
            </button>
            }
            <button class="view-details" (click)="ViewDetails(p)">
                <mat-icon>help_outline</mat-icon>
                <span>Details</span>
            </button>

        </div>
        <!-- <hr> -->
    </div>
    }

</div>