body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.headers {
    padding-left: 6px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.logo {
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    color: gray;
}