body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

:host {
    font-family: 'Segoe UI', Roboto, sans-serif;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.headers {
    padding-left: 6px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;

}

.logo {
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.nav-link {
    text-decoration: none;
    color: rgb(93, 30, 30);
    margin-left: 1rem;
}

.nav-link:hover {
    color: gray;
}