.heading {
    margin: 1rem auto;
    width: 80%;
}

.user-container {
    margin-top: 20px;
    padding: 10px;
}

table {
    width: 85%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}


th {
    background-color: #3f6b89;
    color: #f1e9f2;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    text-align: left;
}

tr:hover {
    background: #f5f9ff;
}

.empty {
    color: #777;
    font-style: italic;
    margin-top: 2rem;
}


.loader {
    margin: 20px auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2d6cdf;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.delete-user-button {
    &:hover {
        cursor: pointer;
        animation: scaly 0.2s linear forwards;


    }
}

@keyframes scaly {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}