<header class="headers">
    <div class="logo">
        <h3>Omni Centre</h3>
    </div>
    <div *ngIf="isOnCall" class="call-controls">
        <button mat-icon-button color="warn" (click)="connectService.endCall()">
            <mat-icon>call_end</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>mic_off</mat-icon>
        </button>
    </div>
    <div class="rightside">
        <button mat-menu-item *ngIf="!isOnCall" class="active-call-indicator">
            <mat-icon>call</mat-icon>
        </button>

        <select [ngModel]="agentState" (ngModelChange)="onAgentStateChange($event)">
            <option value="Offline">Not Ready</option>
            <option value="Available">Ready</option>
            <option *ngIf="agentState !== 'Offline' && agentState !== 'Available'" [value]="agentState" disabled>
                {{ mapStateLabel(agentState) }}
            </option>
        </select>

        <div class="profile-block">
            <button class="profile-main" mat-menu-item [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>keyboard_arrow_down</mat-icon>
                <span>Profile</span>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="settings">
                    <mat-icon>account_circle</mat-icon>
                    <span>Manage Profile</span>
                </button>
                <button mat-menu-item (click)="Logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</header>