<header class="headers">
    <div class="logo">
        <h3>Omni Centre</h3>
    </div>
    <div *ngIf="isOnCall" class="call-controls">
        <button mat-icon-button color="warn" (click)="connectService.endCall()">
            <mat-icon>call_end</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>mic_off</mat-icon>
        </button>
    </div>
    <div class="rightside">
        <button mat-menu-item *ngIf="!isOnCall" class="active-call-indicator">
            <mat-icon>call</mat-icon>
        </button>

        <!-- <select [disabled]="isOnCall">
            <option value="offline" [selected]="agentState === 'OFFLINE'">Offline</option>
            <option value="ready" [selected]="agentState === 'READY'">Ready</option>
            <option value="notready" [selected]="agentState === 'NOT_READY'">Not Ready</option>
        </select> -->
        <!-- <select [disabled]="isOnCall" [(ngModel)]="agentState" (ngModelChange)="connectService.setAgentState($event)">
            <option value="offline">Offline</option>
            <option value="routable">Ready</option>
        </select> -->

        <!-- <select *ngIf="agentState" [disabled]="isOnCall" [value]="agentState" (change)="onAgentStateChange($event)">
            <option value="offline">Offline</option>
            <option value="routable">Ready</option>
        </select> -->
        <select [disabled]="isOnCall" (change)="onAgentStateChange($event)">
            <option value="offline" [selected]="agentState === 'offline'">Offline</option>
            <option value="routable" [selected]="agentState === 'routable'">Ready</option>
        </select>




        <div class="profile-block">
            <button class="profile-main" mat-menu-item [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>keyboard_arrow_down</mat-icon>
                <span>Profile</span>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="settings">
                    <mat-icon>account_circle</mat-icon>
                    <span>Manage Profile</span>
                </button>
                <button mat-menu-item (click)="Logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</header>