<header class="headers">
    <div class="logo">
        <h3>Omni Center</h3>
    </div>
    <div class="rightside">
        <button mat-menu-item>
            <mat-icon>call</mat-icon>
            <!-- <mat-icon class="dialpad">dialpad</mat-icon> -->
        </button>

        <select>
            <option value="ready">Ready</option>
            <option value="notready">Not Ready</option>
        </select>

        <div class="profile-block">
            <label for="">Profile</label>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Manage Profile</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</header>