.dialer-content {
    text-align: center;
}

.number-input {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number-input input {
    border: none;
    height: 2rem;

    &:focus {
       outline: none;
    }
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.keypad button {
    height: 48px;
    font-size: 18px;
}

.spacer {
    flex: 1;
}