h3{
    text-align: center;
    margin-bottom: 2rem;
    color: #918e8e;
}

body{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    padding: 0;
    box-sizing: border-box;
}

.notes-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &:hover{
        cursor: pointer;
    }
    gap: 1rem;
}

.noteStyle {
  background: #f1eaea;
  border-radius: 12px;
  padding: 1rem 1.3rem;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.10);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-left: 6px solid #4a90e2;
  margin-bottom: 2rem;  
}

.noteStyle:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
}

.title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: chocolate;
}

.content {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
  word-break: break-word;
}

.Add-button{
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    color: white;
    background-color: #6868ee;
    border: none;
    &:hover{
        cursor: pointer;
        transform:  scale(1.1);
    }
}

.AddSearch{
  display: flex;
  gap: 2rem;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.search-input {
  width: 60%;
  padding: 6px 14px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #d3d3d3;
  background: #fafafa;
  transition: all 0.25s ease;
}

.search-input:focus {
  outline: none;
  border-color: #4a90e2;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
}

.search-input:hover {
  border-color: #b5b5b5;
}

.Edit-button{
  margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    color: white;
    background-color: #0c5b31;
    border: none;
    &:hover{
        cursor: pointer;
        transform:  scale(1.1);
    }
    margin: 0.5rem;
}

.Del-button{
  margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    color: white;
    background-color: #7a1515;
    border: none;
    &:hover{
        cursor: pointer;
        transform:  scale(1.1);
    }
}

  ::ng-deep .multi-line-tooltip {
    white-space: pre-line; /* preserves line breaks */
    font-size: 14px;
    line-height: 1.5;
    padding: 8px;
    background-color: rgba(144, 140, 140, 0.85);
    border-radius: 4px;
    max-width: 350px; /* optional */
}
