<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes List</title>
</head>

<body>
    <h3>Welcome to the world of Notes</h3>
    <div class="AddSearch">
    <button class="Add-button" (click)="openDialog()">+ Add Note</button>
    <form>
        <label for="search"></label>
        <input 
            name="searchTerm"
            placeholder="Search Notes..."
            [(ngModel)] = "searchTerm"
            class="search-input"
            >
    </form>
    </div>
    <div class="notes-container">
        @if(noteObj.length != 0){
            @for (note of noteObj | filternotes: searchTerm(); track note.id) {
                @let contentLength = note.content.length;
                <div class="noteStyle">
                    <p class="title"> <button
                            matButton="elevated"
                            [matTooltip]="getTooltipData(note)"
                            aria-label="Detailed Info about Note..."
                            matTooltipClass="multi-line-tooltip">
                            📋
                    </button> {{note.title}} </p>
                    @if(contentLength > 30){
                    <p class="content">{{note.content.substring(0, 30) + "..."}} </p>
                    }@else{
                    <p class="content">{{note.content}}</p>   
                    }
                    <button class="Edit-button" (click)="EditNote(note)">Edit</button>
                    <button class="Del-button" (click)="DeleteNote(note)">Delete</button>
                </div>
                
            }
        }
    </div>
</body>

</html>